    body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 16px; text-align: left;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea{outline:0;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em,b,i{font-weight: normal; font-style: normal;}
a,u{text-decoration: none;}


/*____________________________________________________________+++++++++++++++++++++++++++++++++++++*/
/*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/
/*登录前显示start*/
.top-nav .wrapper ul li .striking-link {
    color: #ff5482;
}
.top-nav ul li .lv1 {
    background-position: 0 0;
}
.top-nav ul li .lv-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/i_icon_s.png) no-repeat;
    text-decoration: none;
}


/*顶部上*/
.top-nav{
    width: 100%;
    background: #f4f4f4;
    border-bottom: 1px #e8e8e8 solid;
    height: 28px;
    z-index: 109;
    position: relative;
}
.wrapper{
    width: 1080px;
}
.top-nav ul {
    position: absolute;
    right:188px;
    top: 0;
    line-height: 28px;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    margin: 0 auto;
}
.top-nav ul li {
    font-size: 12px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    color: #555;
    vertical-align: top;
    margin: 0 12px;
}
/*.view-l{
    font-size: 12px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    color: #555;
    vertical-align: top;
    margin: 0 12px;
}*/
.top-nav a{
    font-size: 12px;
    color: #555;
    margin-left: -2px;
}
li {
    list-style: none;
}
/*免费注册*/
.top-nav .view-a2{
    color: #ff5482;
}
/*侧边线*/
.top-nav ul li.seg {
    margin: 7px 0;
    height: 15px;
    width: 1px;
    background: #ddd;
}
/*贝贝商家中心*/
.top-nav ul li.small {
    margin: 0 8px;
    width:95px;
    height:22px;
}
.top-nav ul li.small1 {
    margin: 0 -3px;
    width:98px;
    height:22px;
}
.top-nav ul li.small2 {
    margin-left: -3px;
    width:58px;
    height:22px;
    z-index: 8;
}
.dropdown{
    position: relative;
    line-height: 1.4em;
    margin-top: 2px;
    margin-right: -8px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.dropdown-default{
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 3px 8px 0 8px;
    z-index: 110;
    position: relative;
}
.dropdown-default1{
    height:22px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 3px 8px 0 8px;
    z-index: 110;
    position: relative;
}
.dropdown-default2{
    height:22px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 3px 8px 0 8px;
    z-index: 110;
    position: relative;
}
/*倒三角*/
/*.top-nav .dropdown .iconfont {
    font-size: 12px;
    vertical-align: 1px;
    font-family: iconfont;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}*/
/*.q-png{
    display: inline-block;
    width: 6px;
    height: 3px;
    margin: -2px 0 0 5px;
    *margin-top: 7px;
    _margin-top: 5px;
    vertical-align: middle;
    background: url(../images/1.t4.png) no-repeat -92px 0;
    overflow: hidden;
}*/
.top-nav .dropdown .dropdown-list {
    position: relative;
    font-size: 12px;
    display: none;
    padding: 0 8px 3px 8px;
    border-bottom: none;
    padding-bottom: 0;
    left:-3%;
    z-index: 22;
}
.top-nav .dropdown1 .dropdown-list1 {
    position: relative;
    font-size: 12px;
    display: none;
    padding: 0 8px 3px 8px;
    border-bottom: none;
    padding-bottom: 0;
    left:2%;
    z-index: 22;
}
.top-nav .dropdown .dropdown-list li {
    line-height: 1.4em;
    padding: 4px 0;
    display: inline-block;
    margin: 0;
    *zoom: 1;
    *display: inline;

}
/*帮助中心*/
.top-nav .dropdown .dropdown-default {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 3px 8px 0 0px;
    z-index: 110;
    position: relative;
}
.top-nav .dropdown .glyphicon-menu-down {
    font-size: 12px;
    vertical-align: 1px;
}
.small .dropdown:hover{
    background-color:#fff;
    border:1px solid #c8c8c8;
}
.small1 .dropdown1:hover{
    background-color:#fff;
    border:1px solid #c8c8c8;
}
.small2 .dropdown2:hover{
    background-color:#fff;
    border:1px solid #c8c8c8;
    border-bottom: 1px solid #fff;
}
/*.top-nav .dropdown .dropdown-list:hover{
    background-color:#fff;
    border-
}*/
/*问号*/
.iconfont-pink1 {
    color:#ff5482;
}
/*倒三角*/
.top-nav .dropdown .iconfont {
    font-size: 13px;
    color: #ff5482;
    vertical-align: 1px;
}
.top-nav ul li .iconfont {
    color:#ff5482;
    vertical-align: 1px;
}
#iconfont {
    font-family: iconfont;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}
.pink{
    color: #ff5482;
}
/*关注*/
.top-nav .dropdown{
    width: 110px;
    position: absolute;
    top: 1px;
    z-index: 11;
}
.small1 .dropdown1{
    width: 98px;
    position: absolute;
    top: -2px;
    z-index: 11;
}
.small2 .dropdown2{
    width: 58px;
    position: absolute;
    top: -2px;
    z-index: 11;
}
.dropdown-block{
    width: 200px;
    position: absolute;
    top: 28px;
    right: -62px;
    background-color:#fff;
    border:1px solid #c8c8c8;
    z-index: 5;
    display:none;
}
.wechat {
    float: left;
    width: 135px;
    text-align: center;
    color: #666;
    border-right: 1px dotted #cdcbce;
}
.social {
    display: inline-block;
    zoom: 1;
    _display: inline;
    width: 30px;
    vertical-align: top;
}
.social dd {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
}
/*登录前显示END*/
/*————————————————————————————————————————————————————————————————————————————————————————++++++++++++++++++++++++++++++++++++++++++++++++*/
.backoffice-wrapper {
    margin: 20px auto;
    background: url(http://b0.hucdn.com/img/backoffice/split_bg.png) repeat-y 180px 0 #fff;
    border: 1px solid #e4e4e4;
}

.wrapper {
    width: 1200px;
}
.wrapper {
    margin: 25px auto;
    position: relative;
    width: 1002px;
}
/*______________________++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.pure-u-1-5 {
    width: 200px;
}
.bo-side h5.no-border-top {
    border-top: none;
}
.bo-side h5 {
    height: 37px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    background: #eee;
    width: 180px;
    color: #666;
}
.bo-side ul {
    list-style: none;
}
.bo-side ul li {
    padding: 1px 0;
    margin: 15px 20px 15px 0;
    height: 24px;
    line-height: 24px;
    border-left: 3px solid #fff;
}
.bo-side ul li a {
    font-size: 13px;
    padding: 0 0 0 20px;
    display: block;
    color: #3e3e3e;
    text-decoration: none;
}
.bo-side ul li a:hover{
	color: #ff5482;
}
.bo-side ul li.current {
    border-left: 3px solid #ff5482;
}
.bo-side ul li.current a {
    color: #ff5482;
    font-weight: 700;
}
.bo-side li i {
    padding-right: 10px;
    font-weight: 400;
    color: #aaa;
}

.iconfont {
    font-family: iconfont;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}
/*______________________++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*右边*/
/*.bo-main {
    padding: 20px 0;
}
.pure-u-4-5 {
    width: 800px;
}
.bo-main h3 {
    margin: 0 20px 0 0;
    padding: 0 0 6px 10px;
    font-size: 1.27em;
    border-bottom: 2px solid #ff5482;
}
.mt-20 {
    margin-top: 20px;
}
.pure-g {
    letter-spacing: -.31em;
    *letter-spacing: normal;
    *word-spacing: -.43em;
    text-rendering: optimizespeed;
}.pure-u {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.pink, a.pink {
    color: #ff5482;
}
.mr-10 {
    margin-right: 10px;
}

.pure-u-6-11 {
    width: 545.455px;
}
.pure-u-1, .pure-u-1-10, .pure-u-1-11, .pure-u-1-12, .pure-u-1-13, .pure-u-1-14, .pure-u-1-15, .pure-u-1-16, .pure-u-1-17, .pure-u-1-18, .pure-u-1-19, .pure-u-1-2, .pure-u-1-20, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-1-6, .pure-u-1-7, .pure-u-1-8, .pure-u-1-9, .pure-u-10-11, .pure-u-10-13, .pure-u-10-15, .pure-u-10-17, .pure-u-10-19, .pure-u-11-12, .pure-u-11-13, .pure-u-11-14, .pure-u-11-15, .pure-u-11-16, .pure-u-11-17, .pure-u-11-18, .pure-u-11-19, .pure-u-11-20, .pure-u-12-13, .pure-u-12-15, .pure-u-12-17, .pure-u-12-19, .pure-u-13-14, .pure-u-13-15, .pure-u-13-16, .pure-u-13-17, .pure-u-13-18, .pure-u-13-19, .pure-u-13-20, .pure-u-14-15, .pure-u-14-17, .pure-u-14-19, .pure-u-15-16, .pure-u-15-17, .pure-u-15-18, .pure-u-15-19, .pure-u-15-20, .pure-u-16-17, .pure-u-16-19, .pure-u-17-18, .pure-u-17-19, .pure-u-17-20, .pure-u-18-19, .pure-u-19-20, .pure-u-2-11, .pure-u-2-13, .pure-u-2-15, .pure-u-2-17, .pure-u-2-19, .pure-u-2-3, .pure-u-2-5, .pure-u-2-7, .pure-u-2-9, .pure-u-3-10, .pure-u-3-11, .pure-u-3-13, .pure-u-3-14, .pure-u-3-16, .pure-u-3-17, .pure-u-3-19, .pure-u-3-20, .pure-u-3-4, .pure-u-3-5, .pure-u-3-7, .pure-u-3-8, .pure-u-4-11, .pure-u-4-13, .pure-u-4-15, .pure-u-4-17, .pure-u-4-19, .pure-u-4-5, .pure-u-4-7, .pure-u-4-9, .pure-u-5-11, .pure-u-5-12, .pure-u-5-13, .pure-u-5-14, .pure-u-5-16, .pure-u-5-17, .pure-u-5-18, .pure-u-5-19, .pure-u-5-6, .pure-u-5-7, .pure-u-5-8, .pure-u-5-9, .pure-u-6-11, .pure-u-6-13, .pure-u-6-15, .pure-u-6-17, .pure-u-6-19, .pure-u-6-7, .pure-u-6-9, .pure-u-7-10, .pure-u-7-11, .pure-u-7-12, .pure-u-7-13, .pure-u-7-15, .pure-u-7-16, .pure-u-7-17, .pure-u-7-18, .pure-u-7-19, .pure-u-7-20, .pure-u-7-8, .pure-u-7-9, .pure-u-8-11, .pure-u-8-13, .pure-u-8-15, .pure-u-8-17, .pure-u-8-19, .pure-u-8-9, .pure-u-9-10, .pure-u-9-11, .pure-u-9-12, .pure-u-9-13, .pure-u-9-14, .pure-u-9-15, .pure-u-9-16, .pure-u-9-17, .pure-u-9-19, .pure-u-9-20 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.account-marea {
    background: #f9f9f9;
    margin: 0 0 10px;
    padding: 0 25px 15px;
    height: 110px;
}
.account-marea .a-head {
    position: relative;
    height: 80px;
}
.account-marea .a-head .people {
    font-size: 30px;
    position: absolute;
    top: 22px;
    left: 14px;
    color: #aaa;
    text-shadow: 0 -1px 0 #eee;
}
.account-marea .a-head .people {
    font-size: 30px;
    position: absolute;
    top: 22px;
    left: 14px;
    color: #aaa;
    text-shadow: 0 -1px 0 #eee;
}
.account-marea .a-head .user-name {
    position: absolute;
    top: 30px;
    left: 65px;
    font-size: 16px;
}
.account-marea .a-head .ops {
    position: absolute;
    top: 35px;
    right: 0;
    text-align: right;
    font-size: 13px;
}
.account-marea .a-head .ops a {
    color: #595959;
}
.account-marea .a-bottom {
    margin: 0 4px;
    font-size: 13px;
    vertical-align: middle;
    color: #777;
    position: relative;
}
.account-marea .a-bottom .security-grade {
    display: inline-block;
    width: 150px;
    background: #ccc;
    height: 16px;
    border-radius: 10px;
    vertical-align: middle;
    margin: -2px 10px 0;
    position: relative;
}
.account-marea .a-bottom .security-grade .s-2 {
    width: 100px;
    background: #ff923a;
}
.account-marea .a-bottom .security-grade .indicator {
    display: inline-block;
    height: 16px;
    width: 0;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: 0;
}
.account-marea .s-2 .security-tip {
    font-weight: 700;
    color: #ff923a;
}
.account-marea .promote {
    color: #0b5ba5;
    text-decoration: none;
    font-size: 13px;
}
.account-marea .a-bottom .ops {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 13px;
}
.account-marea .a-bottom .ops a {
    color: #9a9a9a;
    margin-left: 10px;
}
.account-mod {
    border: 1px dashed silver;
    margin: 0 0 10px;
}
.account-mod .title {
    display: inline-block;
    *float: left;
    width: 120px;
    height: inherit;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: 150;
    border-right: 1px dashed silver;
}
.account-mod .data {
    display: inline-block;
    width: 330px;
    padding: 0 40px 10px;
    line-height: 40px;
    color: #5a5a5a;
    *padding: 20px 40px 10px;
}
.mr-15 {
    margin-right: 15px;
}
.account-mod .data .price {
    font-size: 20px;
    position: relative;
    top: 3px;
}
.price {
    font-family: tahoma,​arial,​sans-serif;
}
.pink, a.pink {
    color: #ff5482;
}
.bo-main .pink-btn, .bo-main a.pink-btn {
    padding: 6px 17px;
    background: #ff4965;
    border-radius: 2px;
    color: #fff;
    border: 1px solid #ff4965;
    text-shadow: 0 -1px 0 #ff4965;
    font-size: 13px;
}
.account-mod {
    border: 1px dashed silver;
    margin: 0 0 10px;
}
.account-mod .title {
    display: inline-block;
    *float: left;
    width: 120px;
    height: inherit;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: 150;
    border-right: 1px dashed silver;
}
.account-mod .data {
    display: inline-block;
    width: 330px;
    padding: 0 40px 10px;
    line-height: 40px;
    color: #5a5a5a;
    *padding: 20px 40px 10px;
}
.mr-15 {
    margin-right: 15px;
}
.account-mod .data .price {
    font-size: 20px;
    position: relative;
    top: 3px;
}

.price {
    font-family: tahoma,​arial,​sans-serif;
}
.pink, a.pink {
    color: #ff5482;
}
.grey, a.grey {
    color: #777;
}*/











.bo-main {
    padding: 20px 0;
}

.pure-u-4-5 {
    width: 800px;
}
.order-nav-list {
    margin: 0 20px 0 0;
    font-size: 14px;
    border-bottom: 2px solid #ff5482;
    list-style: none;
    overflow: hidden;
    *position: relative;
    _height: 34px;
}
.order-nav-list li {
    float: left;
    display: inline;
    _overflow: hidden;
    _position: relative;
}
.order-nav-list li.active a {
    font-weight: 700;
    border-color: #ff5482;
    background: #ff5482;
    color: #fff;
    text-decoration: none;
}

.order-nav-list li a {
    display: block;
    padding: 6px 20px;
    background: #f4f4f4;
    color: #333;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
    position: relative;
    *zoom: 1;
    _float: left;
    text-decoration: none;
}
.bo-main .order-list .ol-head {
    width: 780px;
}
.bo-main .order-list .ol-head li {
    list-style: none;
    float: left;
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    height: 37px;
    line-height: 37px;
    text-align: center;
}
.ol-h-item-info {
    width: 300px;
}
.f-12 {
    font-size: 12px;
}

.c-aaa, a.c-aaa, input.c-aaa {
    color: #aaa;
}
.trade-entry {
    width: 780px;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
}
.order-entry .order-head {
    position: relative;
    height: 32px;
    line-height: 32px;
    background: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 15px;
    color: #666;
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#fefefe, endColorStr=#f4f4f4);
    background: -ms-linear-gradient(top,#fefefe,#f4f4f4);
    background: -moz-linear-gradient(top,#fefefe,#f4f4f4);
    background: -webkit-gradient(linear,0 0,0 100%,from(#fefefe),to(#f4f4f4));
    background: -webkit-linear-gradient(top,#fefefe,#f4f4f4);
    background: -o-linear-gradient(top,#fefefe,#f4f4f4);
}
.order-entry .order-head span {
	position: absolute;
    margin-left: -68%;
}
.order-entry .order-head .span1 {
	position: absolute;
    margin-left: -35%;
}
.order-entry .order-head .span2 {
	position: absolute;
    margin-left: 0%;
}
.order-entry .order-head .span3 {
	position: absolute;
    margin-left: 32%;
}
.order-entry .order-head .span4 {
	position: absolute;
    margin-left: 0%;
}
.order-entry .order-head .span5 {
	position: absolute;
    margin-left: 32%;
}
.order-entry table {
    width: 780px;
    border: none;
}
.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}
.order-entry table tr {
    border-bottom: 1px solid #efefef;
}
.pure-table td:first-child, .pure-table th:first-child {
    border-left-width: 0;
}
.order-entry table td {
    border: none;
    vertical-align: top;
    padding: 6px 10px;
    word-break: break-all;
    word-wrap: break-word;
}
.order-item td.ol-b-subtotal {
    width: 90px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    vertical-align: top;
    font-size: 14px;
    color: #ff5482;
    text-align: center;
}
.order-item td.ol-b-status {
    width: 85px;
    border-right: 1px solid #efefef;
    vertical-align: top;
    text-align: center;
}
.order-entry table td a{
	color: #3e3e3e;
    text-decoration: none;
}
.trade-footer .tips a{
    color: #999;
    text-decoration: underline;
}
.pure-table td {
    background-color: transparent;
}
.pure-table td, .pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 6px 12px;
}
.ol-b-item-info {
    width: 280px;
}
.order-item .image {
    float: left;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 1px;
}
.order-item .image img {
    width: 60px;
}
.order-item .title {
    display: block;
    line-height: 20px;
    margin: 0 20px 0 75px;
    overflow: hidden;
    color: #3e3e3e;
    text-decoration: none;
}
.c-666, a.c-666 {
    color: #666;

}

.order-item .sku {
    display: block;
    line-height: 20px;
    margin: 5px 20px 0 75px;
    overflow: hidden;
    color: #aaa;
}
/*？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？*/
.account-mod.trade-mod {
    height: 120px;
}
.account-mod {
    border: 1px dashed silver;
    margin: 0 0 10px;
}
.account-mod.trade-mod .title {
    line-height: 120px;
    position: relative;
    top: -13px;
    *top: 0;
}
.account-mod .title {
    display: inline-block;
    *float: left;
    width: 120px;
    height: inherit;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: 150;
    border-right: 1px dashed silver;
}
.account-mod.trade-mod .data {
    width: auto;
    line-height: 30px;
    padding: 15px 10px;
    position: relative;
    top: 5px;
    _line-height: 35px;
}
.account-mod .data {
    display: inline-block;
    width: 330px;
    padding: 0 40px 10px;
    line-height: 40px;
    color: #5a5a5a;
    *padding: 20px 40px 10px;
}
.account-mod .data .badget-entry {
    display: inline-block;
    width: 77px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0;
    position: relative;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    _padding-top: 10px;
    _padding-bottom: 0;
}
.account-mod .data .badget-entry .m-icon {
    font-size: 30px;
    color: #ccc;
}
.account-mod .data .badget-entry .desc {
    display: block;
    color: #888;
}
.pure-u-2-9 {
    width: 222.222px;
}

.pure-u-1, .pure-u-1-10, .pure-u-1-11, .pure-u-1-12, .pure-u-1-13, .pure-u-1-14, .pure-u-1-15, .pure-u-1-16, .pure-u-1-17, .pure-u-1-18, .pure-u-1-19, .pure-u-1-2, .pure-u-1-20, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-1-6, .pure-u-1-7, .pure-u-1-8, .pure-u-1-9, .pure-u-10-11, .pure-u-10-13, .pure-u-10-15, .pure-u-10-17, .pure-u-10-19, .pure-u-11-12, .pure-u-11-13, .pure-u-11-14, .pure-u-11-15, .pure-u-11-16, .pure-u-11-17, .pure-u-11-18, .pure-u-11-19, .pure-u-11-20, .pure-u-12-13, .pure-u-12-15, .pure-u-12-17, .pure-u-12-19, .pure-u-13-14, .pure-u-13-15, .pure-u-13-16, .pure-u-13-17, .pure-u-13-18, .pure-u-13-19, .pure-u-13-20, .pure-u-14-15, .pure-u-14-17, .pure-u-14-19, .pure-u-15-16, .pure-u-15-17, .pure-u-15-18, .pure-u-15-19, .pure-u-15-20, .pure-u-16-17, .pure-u-16-19, .pure-u-17-18, .pure-u-17-19, .pure-u-17-20, .pure-u-18-19, .pure-u-19-20, .pure-u-2-11, .pure-u-2-13, .pure-u-2-15, .pure-u-2-17, .pure-u-2-19, .pure-u-2-3, .pure-u-2-5, .pure-u-2-7, .pure-u-2-9, .pure-u-3-10, .pure-u-3-11, .pure-u-3-13, .pure-u-3-14, .pure-u-3-16, .pure-u-3-17, .pure-u-3-19, .pure-u-3-20, .pure-u-3-4, .pure-u-3-5, .pure-u-3-7, .pure-u-3-8, .pure-u-4-11, .pure-u-4-13, .pure-u-4-15, .pure-u-4-17, .pure-u-4-19, .pure-u-4-5, .pure-u-4-7, .pure-u-4-9, .pure-u-5-11, .pure-u-5-12, .pure-u-5-13, .pure-u-5-14, .pure-u-5-16, .pure-u-5-17, .pure-u-5-18, .pure-u-5-19, .pure-u-5-6, .pure-u-5-7, .pure-u-5-8, .pure-u-5-9, .pure-u-6-11, .pure-u-6-13, .pure-u-6-15, .pure-u-6-17, .pure-u-6-19, .pure-u-6-7, .pure-u-6-9, .pure-u-7-10, .pure-u-7-11, .pure-u-7-12, .pure-u-7-13, .pure-u-7-15, .pure-u-7-16, .pure-u-7-17, .pure-u-7-18, .pure-u-7-19, .pure-u-7-20, .pure-u-7-8, .pure-u-7-9, .pure-u-8-11, .pure-u-8-13, .pure-u-8-15, .pure-u-8-17, .pure-u-8-19, .pure-u-8-9, .pure-u-9-10, .pure-u-9-11, .pure-u-9-12, .pure-u-9-13, .pure-u-9-14, .pure-u-9-15, .pure-u-9-16, .pure-u-9-17, .pure-u-9-19, .pure-u-9-20 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.notice-mod {
    background: #fffce5;
    border: none;
}
.account-mod {
    border: 1px dashed silver;
    margin: 0 0 10px;
}
.p10 {
    padding: 10px;
}
.f-14 {
    font-size: 14px;
}
.c-999, a.c-999 {
    color: #999;
}
.notice-mod li {
    list-style: none;
    margin: 8px 0 2px 10px;
    font-size: 13px;
    color: #ed9125;
}
.trade-footer {
    height: 45px;
    line-height: 45px;
    background: #f5f5f5;
    border-top: 1px solid #fff;
    padding: 0 15px;
    color: #666;
    text-align: right;
}
/*______________________++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.minato-single {
    display: none;
    width: 1002px;
    margin: 20px auto;
    position: relative;
    background: #fff;
    border: 1px solid #e1e0de;
}
.minato-single h3 {
    border-bottom: 1px solid #ddd;
    color: #ff5384;
    background: #f9f9f9;
    padding: 10px 22px;
    font: 700 16px/46px helvetica,tahoma,arial,sans-serif;
    height: 49px;
    line-height: 28px;
    margin: 0;
}
.minato-items {
    list-style: none;
    height: 222px;
    overflow: hidden;
}
.minato-items li {
    display: inline-block;
    *zoom: 1!important;
    *display: inline!important;
    padding: 10px 18px;
    border-right: 1px solid #e1e0de;
}
.minato-items li a {
    line-height: 1.4em;
    display: block;
    width: 160px;
}
.minato-items li img {
    width: 160px;
    height: 160px;
}
.minato-items-name {
    overflow: hidden;
    height: 18px;
    color: #777;
    margin: 3px 0;
}
.minato-items-price {
    color: #999;
    text-align: center;
    font-size: 13px;
    margin: 0;
}
.minato-items-price strong {
    color: #ff5482;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    margin: 0 5px 0 0;
}
.minato-items-price strong em {
    font-style: normal;
    font-size: 12px;
    margin: 0 2px 0 0;
}
.minato-items-price b {
    font-weight: 400;
    text-decoration: line-through;
    color: #bbb;
}
.minato-items li {
	width:196px;
	height:225px;
    display: inline-block;
    *zoom: 1!important;
    *display: inline!important;
    padding: 10px 18px;
    border-right: 1px solid #e1e0de;
}
.minato-items li a {
    line-height: 1.4em;
    display: block;
    width: 160px;
    text-decoration: none;
}
.minato-items li img {
    width: 160px;
    height: 160px;
}
.minato-items-name {
    overflow: hidden;
    height: 18px;
    color: #777;
    margin: 3px 0;
}
.minato-items-price {
    color: #999;
    text-align: center;
    font-size: 13px;
    margin: 0;
}
.minato-items-price strong {
    color: #ff5482;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    margin: 0 5px 0 0;
}
.minato-items-price strong em {
    font-style: normal;
    font-size: 12px;
    margin: 0 2px 0 0;
}
.minato-items-price b {
    font-weight: 400;
    text-decoration: line-through;
    color: #bbb;
}
/*______________________++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/